<mat-toolbar class="header">
  <div class="website-name">
    <span>DAO ChatApp</span>
  </div>
  <div class="right-side-container">
    <div class="show-name-container">
      <span>Logged in as: user</span>
    </div>
    <div class="logout-container">
      <button mat-raised-button color="primary" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
    </button>
    </div>
  </div>

</mat-toolbar>
<mat-card *ngIf="(afAuth.user | async)">
  <mat-icon>check_circle</mat-icon>
  <span>User is logged in</span>
</mat-card>
<mat-card *ngIf="!(afAuth.user | async)">
  <mat-icon>do_not_disturb</mat-icon>
  <span>User is not logged in</span>
</mat-card>